@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.text_blue_gradient{
  background: #4D8076;
background: repeating-radial-gradient(ellipse farthest-corner at center center, #4D8076 0%, #C4FCEF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.text_purple_gradient{
  background: #B0A8B9;
background: radial-gradient(circle farthest-corner at center center, #B0A8B9 0%, #4B4453 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.text_gray_gradient{
  background: #C6C6C6;
background: linear-gradient(to right, #C6C6C6 0%, #D1D1D1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 2rem;
}
.section_heading{
  font-size: 1.8rem;
}
.card{
  width: 500px;
  height: 200px;
  background-color: #f2f2f2;
  color: #282828;
  margin-top: 3rem;
}
.card p{
  font-size: 0.8rem;
  margin-top: 0.5rem;
}
.latest_news{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
@media(max-width:1066px){
  .latest_news{
    grid-template-columns: repeat(1,1fr);
  }
}
@media(max-width:530px) {
  .card{
    height: 300px;
    width: 300px;
  }
  .card p {
    font-size: 0.7rem;
  }
}